:root {
    --main-font: 'Montserrat', sans-serif;
    --main-color: rgb(58, 170, 58);
}

body {
    background: url(../assets/img/background.jpg);
    font-family: var(--main-font);
}

    /* HEADER */

.header {
    width: 85%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin: 0 auto;
    border-bottom: 2px solid var(--main-color);
}

a {
    color: #fff;
    text-decoration: none;
}

.nav-link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 25px;
    transition: color linear .5s;
}

.nav-link:hover {
    color: var(--main-color);
}

    /* MAIN */

#container {
    width: 85%;
    margin: 0 auto;
}

.heading-wrapper {
    margin-top: 100px;
}

.main-heading, .secondary-heading {
    color: #fff;
    text-align: center;
}

.main-heading {
    font-size: 48px;
}

.secondary-heading {
    font-size: 36px;
}

.class-wrapper {
    padding: 60px 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.link-wrapper {
    width: 288px;
    height: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.class-link {
    font-size: 50px;
}

.class-link:hover + .decor-seven, .class-link:hover + .decor-eight {
    opacity: 1;
    transform: scale(1.2);
}

.decor-seven, .decor-eight {
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: ease-out .2s;
}


