:root {
    --main-font: 'Montserrat', sans-serif;
    --main-color: rgb(58, 170, 58);
}

body {
    background: repeat-x url(../img/background.jpg), url(../img/bg2.jpg);
    background-size: cover 627px;
    font-family: var(--main-font);
}

    /* HEADER */

.header {
    width: 85%;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--main-color);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    transition: all .4s ease-out;
    z-index: 1;
}

.nav {
    padding-left: 30px;
}

a {
    color: #fff;
    text-decoration: none;
}

.nav-link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 25px;
    transition: color linear .2s;
}

.nav-link:hover {
    color: var(--main-color);
}

    /* MAIN */

#container {
    width: 85%;
    margin: 0 auto;
}

.heading-wrapper {
    margin-top: 100px;
}

.main-heading, .secondary-heading {
    color: #fff;
    text-align: center;
}

.main-heading {
    font-size: 48px;
}

.secondary-heading {
    font-size: 36px;
}

.class-wrapper {
    padding: 45px 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.link-wrapper {
    width: 288px;
    height: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.class-link {
    font-size: 50px;
}

.class-link:hover + .decor-seven, .class-link:hover + .decor-eight {
    opacity: 1;
    transform: scale(1.2);
}

.decor-seven, .decor-eight {
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: ease-out .2s;
}

    /* MIND TEXT */

.mind-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 1px solid var(--main-color);
}

.third-heading {
    font-size: 24px;
    color: rgb(154, 235, 154);
}

.mind-text {
    color: #fff;
    font-size: 20px;
    padding-left: 15px;
    max-width: 660px;
    font-weight: 500;
}

.arrow-down-wrapper {
    display: flex;
    justify-content: center;
}

.icon-arrow-down {
    font-size: 36px;
    margin: 122px 100px;
}

    /* CLASSES */

.class {
    font-size: 36px;
    color: #fff;
}

.class-inner {
    font-size: 48px;
}

.subj-wrapper {
    display: flex;
    margin-top: 20px;
}

.subj-box {
    width: 240px;
    height: 150px;
    border: 1px solid var(--main-color);
    margin-right: 20px;
}
